<!-- Start of first page -->

<div data-role="page" id="list">

	<div data-role="header">
		<h1><%= title %></h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview" data-inset="true" data-split-icon="gear" data-split-theme="c" data-dividertheme="b" data-split-icon="gear"> 
			<li data-role="list-divider">Email Templates</li>
			<% pltz.forEach(function(plt, id){ %>
				<li>
					<a href="mailto:<%= plt.template %>"><%= plt.name %></a>
					<a href="/<%= plt._id %>/edit" data-rel="dialog" data-transition="pop"></a>
				</li>
			<% }) %>
			<li data-theme="a"><a href="#Add">Add</a></li>
		</ul>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Worksplayz</h4>
	</div><!-- /header -->
</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="Add">

	<div data-role="header">
		<h1>Edit</h1>
	</div><!-- /header -->

	<div data-role="content">
		<form action="index_submit" method="post" accept-charset="utf-8">
			<div data-role="fieldcontain">
			    <label for="to">To:</label>
			    <input type="email" name="to" id="to" value=""  />
				<label for="subject">Subject:</label>
			    <input type="text" name="subject" id="subject" value=""  />
			</div>
			<div data-role="fieldcontain">
			    <label for="body">Body</label>
			    <textarea name="body" id="body"></textarea>
			</div>

			<button type="submit" data-theme="a" name="submit" value="submit-value">Submit</button>
		</form>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /header -->
</div><!-- /page -->